body {
  $width:150px;
  $height: 34px;

  .insercao{
    display: flex;
    align-items: center;
    margin-bottom:1em;

    *{
      margin-right:10px;
    }

  }

  .imagem {
    // position: relative;
    width: 400px;

    img {
      max-width: 100%;
      height: auto;
    }

    .foto {
      margin-top: 10px;
    }

    .top, .bottom {
      // position: absolute;
      z-index: 10;
    }
    .top {
      top: 0;
    }
    .bottom {
      bottom: 0;
    }
  }

  .btn{


    height: $height;
  }

  .btn-file{

    display: flex;
    overflow: hidden;
    position: relative;
    width:$width;

    input[type=file] {
      position: absolute;
      top: 0;
      right: 0;
      width:$width;
      height: $height;
      height: auto;
      font-size: 100px;
      text-align: right;
      filter: alpha(opacity=0);
      opacity: 0;
      outline: none;
      background: white;
      cursor: inherit;
    }
  }




}
