body .insercao {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1em; }
  body .insercao * {
    margin-right: 10px; }

body a#download {
  display: none; }

body .imagem {
  position: relative;
  width: 400px; }
  body .imagem img {
    width: 100%;
    height: auto; }
  body .imagem .foto {
    margin-top: 10px; }
  body .imagem .top, body .imagem .bottom {
    position: absolute;
    z-index: 10; }
  body .imagem .top {
    top: 0; }
  body .imagem .bottom {
    bottom: 0; }

body .btn {
  height: 34px; }

body .btn-file {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  position: relative;
  width: 150px; }
  body .btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    width: 150px;
    height: 34px;
    height: auto;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit; }
